<div class="chairs">
  <div class="item">
    <img src="images/{{ status.captain }}.png" />
    <span class="caption">Cpt</span>
  </div>
  <div class="item">
    <img src="images/{{ status.tactical }}.png" />
    <span class="caption">Tac</span>
  </div>
  <div class="item">
    <img src="images/{{ status.engineering }}.png" />
    <span class="caption">Eng</span>
  </div>
  <div class="item">
    <img src="images/{{ status.helm }}.png" />
    <span class="caption">Helm</span>
  </div>
  <div class="item">
    <img src="images/{{ status.science }}.png" />
    <span class="caption">Sci</span>
  </div>
  <div class="item">
    <img src="images/{{ status.communications }}.png" />
    <span class="caption">Comm</span>
  </div>
</div>
